/* By Joris van Dijk | Jorisvandijk.com*/
/* Licensed under the GNU General Public License v3.0 */

/* Nord Theme */

html, body {
	background-color: #323d43;
	color: #d8caac;
}

.header, .header a {
	color: #a7c080;	
}

.subheader {
	color: #d9bb80;	
}

.date {
	color: #868d80;
}

.back:before{
	color: #a3be8c;
}

h1, h2, h3, h4 {
	color: #e68183;
}

a {
	color: #a3be8c;
}

img {
	border-color: #e68183;
}

code{
	/* color: #d8caac; */
	background-color: #505a60;
	border-left: 10px solid #a3be8c;
}

blockquote p{
	/* color: #e68183; */
	background: #505a60;
	border-left: 10px solid #e68183;
}

tr:hover {background-color: #e68183;}
