:root {
	--default-font: monofur;
	--italic-font: monofurItalic;
	--default-code-font: comic;
	--default-font-size: 135%;
	--default-code-font-size: 90%;
	--default-line-height: 1.3;
	--default-h-margin-top: 1.8em;
	--default-h-margin-bottom: -0.6em;
}

@font-face {
	font-family: 'monofur';
	src: url("monofur.ttf") format("truetype");
	font-style: normal;
}

@font-face {
	font-family: 'monofurItalic';
	src: url("monofurItalic.ttf") format("truetype");
	font-style: normal;
}

@font-face {
	font-family: 'comic';
	src: url("comic.ttf") format("truetype");
	font-style: normal;
}

html {
	width: auto;
	font-size: 1.1em;
}

body {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	padding: 10px;
	font-family: var(--default-font);
	font-size: var(--default-font-size);
}

h1:before {
	content: "# ";
}

h2:before {
	content: "## ";
}

h3:before {
	content: "### ";
}

h4:before {
	content: "#### ";
}

h1 {
	font-size: 1.4em;
}

h2 {
	font-size: 1.3em;
	margin-top: var(--default-h-margin-top);
	margin-bottom: var(--default-h-margin-bottom);
}

h3 {
	font-size: 1.2em;
	margin-top: var(--default-h-margin-top);
	margin-bottom: var(--default-h-margin-bottom);
}

h4 {
	font-size: 1.1em;
	margin-top: var(--default-h-margin-top);
	margin-bottom: var(--default-h-margin-bottom);
}

p {
	text-align: justify;
	text-justify: inter-word;
	line-height: var(--default-line-height);
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	margin: 15px;
	border: 1px;
	border-style: solid;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	height: auto;
}

code {
	display: block;
	margin: 0em;
	padding: 10px;
	font-family: var(--default-code-font), Consolas, "courier new";
	font-size: var(--default-code-font-size);
	text-overflow: ellipsis;
	white-space: pre;
	overflow: scroll;
	text-align: left;
}

blockquote {
	display: block;
	margin: 0em;
}

blockquote p {
	padding: 10px;
	font-family: var(--default-font);
}

table, th, td {
	border: 1px solid;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

td {
	text-align: center;
}

th, td {
	padding: 5px;
}

li {
	line-height: var(--default-line-height);
}
.i {
	font-family: var(--italic-font);
}

.header:before,
.subheader:before {
	content: "";
}

.header {
	text-align: center;
	font-size: 1.8em;
}

.subheader {
	text-align: center;
	font-size: 1.4em;
	margin-top: -0.2em;
	margin-bottom: 1em;
}

.date {
	text-align: right;
}

.center {
	text-align: center;
}

.back:before {
	content: "<< ";
}

.postyear {
	margin-top: 1.8em;
	margin-bottom: 0.5em;
	font-size: 1.3em;
	text-indent: -1.6em!important;
}

.postlist,
.contact {
	list-style: none;
	padding: 0;
	padding-left: 2em;
}

.postlist li, .contact li {
	text-indent: -0.8em;
	line-height: var(--default-line-height);
}

.postlist-item:before,
.contact-item:before,
.item:before {
	font-size: 0.6em;
	/* content: "✲ "; */
	content: "◇ ";
	vertical-align: +20%;
}
