/* By Joris van Dijk | Jorisvandijk.com*/
/* Licensed under the GNU General Public License v3.0 */

/* Nord Theme */

body {
	background-color: #2e3440;
	color: #ffffff;
}

.header, .header a {
	color: #8fbcbb;	
}

.subheader {
	color: #5e81ac;	
}

.date {
	color: #88c0d0;
}

.back:before{
	color: #a3be8c;
}

h1, h2, h3, h4 {
	color: #81a1c1;
}

a {
	color: #a3be8c;
}

img {
	border-color: #88c0d0;
}

code{
	color: #3b4252;
	background-color: #8fbcbb;
}

blockquote p{
	background: #4c566a;
}