<!-- {{- $microblogs := where site.RegularPages "Section" "microblog" -}} -->
<!-- {{- $latest := $microblogs.ByDate.Reverse | first 1 -}} -->
<!-- {{- if $latest -}} -->
<!--     {{- range $latest -}} -->
<!--         <div class="pinned-microblog"> -->
<!--             <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}"> -->
<!--                 {{ .Date.Format "January 2, 2006 at 15:04" }} -->
<!--             </time> -->
<!--             {{ .Content }} -->
<!--         </div> -->
<!--     {{- end -}} -->
<!-- {{- else -}} -->
<!--     <div class="pinned-microblog pinned-microblog--empty"> -->
<!--         <p>No microblog yet.</p> -->
<!--     </div> -->
<!-- {{- end -}} -->


{{- $microblogs := where site.RegularPages "Section" "microblog" -}}
{{- $latest := $microblogs.ByDate.Reverse | first 1 -}}

{{- if $latest -}}
    {{- range $latest -}}

<article class="post-entry microblog-entry">

    <!-- <header class="entry-header"> -->
    <!--     <h2>Microblog</h2> -->
    <!-- </header> -->

    <div class="entry-content">
        <p>{{ .Content }}</p>
    </div>

    <!-- <footer class="entry-footer"> -->
    <!--     <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}"> -->
    <!--         {{ .Date.Format "January 2, 2006 at 15:04" }} -->
    <!--     </time> -->
    <!-- </footer> -->

    <footer class="entry-footer microblog-footer">
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
            {{ .Date.Format "January 2, 2006 at 15:04" }}
        </time>

        <a href="/microblog/" class="microblog-archive-link">
            All Microblogs
        </a>
    </footer>

    <!-- <a class="entry-link" -->
    <!--    aria-label="microblog link" -->
    <!--    href="{{ .RelPermalink }}"> -->
    <!-- </a> -->

</article>

    {{- end -}}

{{- else -}}

<article class="post-entry">
    <header class="entry-header">
        <h2>Microblog</h2>
    </header>

    <div class="entry-content">
        <p>No microblog yet.</p>
    </div>
</article>

{{- end -}}
