{{- $words := 0 }}
{{- $minutes := 0 }}
{{- $pages := where $.Site.RegularPages "Type" "in" $.Site.Params.mainSections }}
{{- $pages = where $pages "Draft" false }}
{{- range $pages }}
  {{- $words = add $words .WordCount }}
  {{- $minutes = add $minutes .ReadingTime }}
{{- end }}
{{- $hours := div $minutes 60 }}
{{- $mins := mod $minutes 60 }}
{{- $readingTimeStr := "" }}
{{- if gt $hours 0 }}
  {{- $readingTimeStr = printf "%dh %dm" $hours $mins }}
{{- else }}
  {{- $readingTimeStr = printf "%d min" $minutes }}
{{- end }}
{{ len $pages }} posts {{ lang.FormatNumber 0 $words }} words {{ $readingTimeStr }} to read
