<a href="https://xn--sr8hvo.ws/previous" class="no-underline">←</a>
<a href="https://xn--sr8hvo.ws" class="no-underline">IndieWeb Webring</a>
<a href="https://xn--sr8hvo.ws/next" class="no-underline">→</a>
<a href="https://hotlinewebring.club/joris/previous" class="no-underline">←</a>
<a href="https://hotlinewebring.club/" class="no-underline">Hotline Webring</a>
<a href="https://hotlinewebring.club/joris/next" class="no-underline">→</a>
<a href="https://baccyflap.com/noai/?prv&s=jvd" class="no-underline">←</a>
<a href="https://baccyflap.com/noai" class="no-underline">No AI Webring</a>
<a href="https://baccyflap.com/noai/?nxt&s=jvd" class="no-underline">→</a>
