{{ define "main" }}

<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}

    <h1 class="post-title entry-hint-parent">
      Microblog
    </h1>

  </header>

  <div class="post-content">

    <ul class="microblog-list">
      {{ range .Pages.ByDate.Reverse }}
        <li class="microblog-item" id="{{ .File.BaseFileName }}">
          <div class="microblog-content">
            {{ .Content }}
          </div>
          <div class="post-meta">
          <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
            {{ .Date.Format "January 2, 2006 at 15:04" }}
          </time>
          <a href="/microblog/#{{ .File.BaseFileName }}" class="microblog-permalink" title="Permalink">¶</a>
          </div>
        </li>
      {{ end }}
    </ul>
  </div>
</article>

{{ end }}
